@import "../../../../../../scss/variables";

.report-button {
   display: flex;
   align-items: center;

   padding: 10px;
   background-color: $header-bg-color;

   &__image {
      width: 20px;
      height: 20px;
   }
}
