@import "../../../../scss/variables";

.account {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   padding: 5px 10px;
   background-color: $white-color;

   border-radius: 10px;

   -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.2);

   &__image {
      display: block;

      width: 25px;
      height: 25px;
      border-radius: 50%;

      background-color: #c50000;
   }

   &__name {
      font-size: 14px;
      color: $black-color;
   }

   &__arrow-icon {
      background-color: $white-color;
   }
}
